<!DOCTYPE HTML>
<html>
{% load static %}
<head>
	<title> {% block pagetitle %} Home | Physics Grip {% endblock %} </title>
	<link rel="icon" href="./IMAGES/pic1.png" type="image/png" >
	<meta charset="utf-8">

	{% block import %}
	
	{% endblock  %}


<script type="text/javascript" language="javascript">
	
	$(document).ready(function(){
		//console.log($(".nav_dropdown").eq(2));
		var idx = $('')
		$('.nav_o4').mouseenter(function(){
			$('.nav_dropdown4').slideDown('slow')
		});
		$('.nav_o4').mouseleave(function(){
			$('.nav_dropdown4').slideUp(100);
		});
		$('.nav_o5').mouseenter(function(){
			$('.nav_dropdown5').slideDown('slow')
		});
		$('.nav_o5').mouseleave(function(){
			$('.nav_dropdown5').slideUp('fast')
		});
	});

	$(document).ready(function() {
		$('#signIn').click(function(){
			$('.login_in').val('');
			$('#login_window').show('drop',{direction: 'up'}, 500);
			$('#login_window').effect( "bounce", {times:7}, 1000 );
		});
	});

	$(document).ready(function(){
		$('#login_sub').click(function(){
			$('#login_window').hide('drop', {direction : "up"}, 500);
		});
	});

	$(document).ready(function(){
		$('#cut-img').click(function(){
			$('#login_window').hide('drop', {direction : "up"}, 500);
		});
	});

	$(document).ready(function(){
		$('#show_pswd').change(function(){
			if(this.checked){
				$('#sec').attr('type','text');
			}
			else{
				$('#sec').attr('type','password');
			}
		});
	});
	

	{% block write_js %}
	
	{% endblock  %}
	
</script>

</head>

<body >
	<div id="main_header" style="position:fixed;">
		<div class="header-text-large"><h1> PHYSICS GRIP </h1></div>
		<div class="header-text-small"> <sub> WHERE EXELLENCE IS A ROUTINE</sub> </div> 
	</div>
	<div id="rel_container">
	<div id="nav_bar">
		<div class="nav_o nav_o1" id="first_nav">
			<div class="nav_oh" >
				 <a href="/" style="text-decoration:none; color:white;"><i class="fa fa-home" style="font-size:18px;color:white"></i>  <strong> HOME</strong> </a>
			</div>
		</div>
		<div class="nav_o nav_o2">
			<div class="nav_oh">
				<a href="/courses/" style="text-decoration:none; color:white;"><i class="fa fa-mortar-board" style="font-size:18px;color:white"></i> <strong> COURSES</strong></a>
			</div>
		</div>
		<div class="nav_o nav_o3">
			<div class="nav_oh">
				<a href="/gallery/" style="text-decoration:none; color:white;"><i class="fa fa-camera-retro" style="font-size:18px;color:white"></i>
<strong> GALLERY </strong></a>
			</div>
		</div>
		<div class="nav_o nav_o4">
			<div class="nav_oh">
				<i class="fa fa-tags" style="font-size:18px;color:white"></i><strong> ABOUT US </strong>
			</div>
			<div class="nav_dropdown nav_dropdown4">
				<ul>
					<li> <i class="fa fa-balance-scale" style="font-size:18px;color:white"></i>&nbsp&nbsp PREV. RESULTS </li>
					<a href="/ambassadors/" style="text-decoration:none; color:white;"><li><i class="fa fa-user-circle-o" style="font-size:18px;color:whte"></i>&nbsp&nbsp&nbsp OUR AMBASSADORS </li> </a>
					<li> <i class="fa fa-handshake-o" style="font-size:18px;color:white"></i>&nbsp&nbsp CONTACT US </li>
				</ul>
			</div>
		</div>
		<div class="nav_o nav_o5">
			<div class="nav_oh">
				<i class="fa fa-users" style="font-size:18px;color:white"></i> Sign In
			</div>
			<div class="nav_dropdown nav_dropdown5" style="width:100px;">
				<ul>
					<li> <a href="#" id="signIn" style="text-decoration:none; color:white;"><i class="fa fa-sign-in" style="font-size:18px;color:white"></i>&nbsp&nbsp signIn</a> </li>
					<hr />
					<li> <a href="/admin/login/" id="signUp" style="text-decoration:none; color:white;"><i class="fa fa-gears" style="font-size:18px;color:white"></i>&nbsp&nbsp ADMIN </a> </li>
				</ul>
			</div>
		</div>
	</div>


	{% block main_content  %}

	

	{% endblock  %}

	<div id="login_window">
		<form method="POST" action="/accounts/login/">
		{% csrf_token %}
		<h2 class="cross">LOGIN</h2> <img src="{% static 'IMAGE/accounts/cut.png' %}" class="cross pointer" id="cut-img" height="30px" width="30px">
		<input type="text" name="user_name" placeholder="Roll No." class="login_in"/>
		<input type="password" name="pswd" placeholder="Password" class="login_in" id="sec"/>
		<sub><label><input type="checkbox"/ id="show_pswd"> Show password </label><sub>
		<br />
		<input type="submit" name="submit" value="LOGIN" id="login_sub" class="pointer" />
		</form>
	</div>
	<div id="footer">
		<div id="footer_left">
			<strong>CONTACT US &nbsp &nbsp &nbsp &nbsp   </strong> <br /> <br />
			<span style="font-size:15px;"> 9986547502 7546802450 </span> &nbsp &nbsp<i class="fa fa-fax" style="font-size:15px;color:red"></i>  <br />
			<span style="font-size:15px;">ykgupta@gmail.com </span>&nbsp <i class="fa fa-envelope-open" style="font-size:15px;color:red"></i> <br/>
			<span style="font-size:15px;">fb.com/YK Gupta  </span> &nbsp <i class="fa fa-globe" style="font-size:18px;color:red"></i>
			<br>
		</div>

		<div id="footer_right">
			<strong>&nbsp &nbsp &nbsp &nbsp &nbsp  CONTACT US   </strong> <br /> <br />
			<span style="font-size:15px;">&nbsp <i class="fa fa-fax" style="font-size:15px;color:red"></i> &nbsp  9986547502 7546802450 </span>   <br />
			<span style="font-size:15px;">&nbsp <i class="fa fa-envelope-open" style="font-size:15px;color:red"></i> &nbsp ykgupta@gmail.com </span>  <br/>
			<span style="font-size:15px;">&nbsp <i class="fa fa-globe" style="font-size:18px;color:red"></i> &nbsp fb.com/YK Gupta  </span>  
			<br>
		</div>


		<div id="footer_buttom">
			<br />
			&copy PHYSICS GRIP 2017 <br />
			<span style="font-size:12px;"> NKG DEVELOPMENTS </span>
		</div>

	</div>
	</div>

</body>

</html>
