{% extends 'admin/base.html' %}
{% load static %}

{% block pagetitle %}  Search | Physics Grip {% endblock %}

{% block import %}

	<link href="{% static 'CSS/admin/search.css' %}" rel="stylesheet">
	<link href="{% static 'CSS/admin/base.css' %}"  rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jqueryui.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

{% endblock %}

{% block write_js %}
	$(document).ready(function(){
		$('#claass').change(function(){
		console.log("gfhjkl")
		$('#course')
		.find('option')
		.remove()
		.end()
		.append('<option value="0">Course</option>')
		.val('0');
			var std = $('#claass').val()

			$.ajax({
			type: "POST",
			url: "/admin/returncourses/",
			data: {
			  'class': std,
			  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
			},
			dataType: 'json',
			success: function (data) {
				var msg = ""
				for(key in data){
					msg += data[key];
					/* use key/value for intended purpose */
					$('#course').append($('<option>', {
						value: key,
						text: data[key]
					}));
				}
				/*alert(msg); */

			}
		  });
		});

		$('#course').change(function(){
		//console.log("gfhjkl")
		$('#c_sec')
		.find('option')
		.remove()
		.end()
		.append('<option value="0">Section</option>')
		.val('0');
			var crs = $('#course').val()

			$.ajax({
			type: "POST",
			url: "/admin/returnsections/",
			data: {
			  'course': crs,
			  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
			},
			dataType: 'json',
			success: function (data) {
				var msg = ""
				for(key in data){
					msg += data[key];
					/* use key/value for intended purpose */
					$('#c_sec').append($('<option>', {
						value: key,
						text: data[key]
					}));
				}
				/*alert(msg); */

			}
		  });
		});
	});


{% endblock  %}

{% block content_header  %} SEARCH {% endblock  %}

{% block main_content  %}


	<div id="centermaker">
			<div id="header">
				<h2 style="color:#333"> SEARCH STUDENTS </h2>
			</div>
			<div id="filter_card">
				<span style="text-align:center;"><h3 style=" margin-buttom:20px;">Filter the students...</h3></span>

				<form action="#" method="post"> {% csrf_token %}
					<div class="filter_option">
						<strong>Class of student :</strong>
						<select id="claass">
							<option value="0">Class</option>
							<option value="11">XI</option>
							<option value="12">XII</option>
						</select>
					</div>
					<div class="filter_option">
						<strong>Course :</strong>
						<select id="course">
							<option value="0">Course</option>
						</select>
					</div>
					<div class="filter_option">
						<strong>Section of student :</strong>
						<select id="c_sec">
							<option value="0">Section</option>
						</select>
					</div>
					<div class="filter_option">
					<br />
						<strong>Fee Due(Rs) :</strong>
						<select id="claass">
							<option value="0">Due Fee</option>
							<option value="1000">1 - 1000</option>
							<option value="2000">1001 - 2000</option>
							<option value="5000">2001 - 5000</option>
							<option value="5001">more than 5000</option>
						</select>
					</div>
					<div class="filter_option">
						<button type="submit" class="buttons"> SEARCH STUDENTS </button>
					</div>
				</form>
			<hr/>
				<form action="/admin/returnnamesearch/" method="post" id="nameform"> {% csrf_token %}
					<div id="srchbyname">
					Or, search by name :
					<input type="text" name="search_name" id="namee" />
					<button class="buttons" type="submit"> SEARCH STUDENTS </button>
					</div>
				</form>

			</div>


			<form method="POST" action="/admin/requeststudentordeletestudent/" >
			{% csrf_token %}
			<div id="search_tab" style="background-color:yellow;">
				<h1> Hi How are you... </h1>
			</div>
			</form>
	</div>

{% endblock %}
