{% extends 'admin/base.html' %}
{% load static %}

{% block pagetitle %}  UPLOAD | Physics Grip {% endblock %}

{% block import %}

	<link href="{% static 'CSS/admin/base.css' %}" rel="stylesheet">
	<link href="{% static 'CSS/admin/creategallery.css' %}" rel="stylesheet">
	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jqueryui.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

{% endblock %}

{% block write_js %}

{% endblock  %}


{% block main_content  %}
	<div id="header">
		<h2 style="color:#333"> UPLOAD PHOTO FOR GALLERY </h2>
	</div>
	<form method="post" action="/admin/gallerypicupload/" enctype="multipart/form-data">
	{% csrf_token %}
		<div id="form-content">
			<div class="left-content">
				<strong class="fst11"> Title </strong>
				<strong class="s-attr"> Caption</strong>
				<strong class="s-attr"> Photo </strong>
				

			</div>
			<div class="right-content">
				<input type="text" name="title" placeholder="Title" class="fst">
				<input type="text" name="caption" placeholder="Caption" class="s-input">
				<input type="file" placeholder="Picture" name="gallery_photo" class="s-input-addr" />
			</div>
			<div>
				<button type="submit" class="buttons" style="margin-left: 42%; margin-top:20px; height:40px;"> UPLOAD PHOTO </button>
			</div>
		</div>

	</form>
	
{% endblock %}
