#form-content{
	width: 70%;
	height: 170px;
	margin: 60px auto;
	padding: 20px 0px;
	background-color: #c0c0c0;
	box-shadow: 0px 0px 2px 2px #666666;
	border: 1px solid black;
}

.left-content{
	height: 120px;
	width: 35%;
	float: left;
	text-align: right;
	border-right: 1px solid black;
}
.right-content{
	height: 120px;
	width: 64%;
	float: right;
	text-align: left;
}

.s-attr-f{
	display: block;
	margin-top: 10px;
	margin-right: 30px;
}

.s-attr{
	display: block;
	margin: 40px 30px;
}

.fst{
	display: block;
	margin-top: 10px;
	margin-left: 30px;
	width: 75%;
	height: 25px;
	border-radius: 10px;
	padding: 2px 10px;
	background-color: #808080;
}

.s-input{
	display: block;
	margin: 26px 30px;
	width: 75%;
	height: 25px;
	border-radius: 10px;
	padding: 2px 10px;
	background-color: #808080;
}

.s-input-addr{
	display: block;
	margin: 25px 30px;
	width: 75%;
	height: 50px;
	border-radius: 10px;
	padding: 2px 10px;
	background-color: #808080;
	overflow: hidden;
}

#reset-btn{
	margin-left: 35%;
}

.sel{
	margin: 0px 18px;
}

.buttons{
	margin: 0px 10px;
	height: 30px;
	border-radius: 10px;
	padding: 5px 10px;
}

#footer-reg{
	height: 180px;
	background-color: #111;
	margin-top: 20px;
}

.buttons:hover{
	background-color: #2f4f4f;
	cursor: pointer;
}

#curr_sec{
	height: 40px;
	border-top: 1px solid black;
	position: relative;
	top: 255px;
	padding-left: 50px;
}


